[submodule "GoOnlineJudge"]
        path = GoOnlineJudge
        url = https://github.com/ZJGSU-Open-Source/GoOnlineJudge.git
[submodule "RunServer"]
	path = RunServer
	url = https://github.com/ZJGSU-Open-Source/RunServer.git
[submodule "vjudger"]
	path = vjudger
	url = https://github.com/ZJGSU-Open-Source/vjudger.git
[submodule "restweb"]
	path = restweb
	url = https://github.com/sakeven/restweb.git
